{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">Опубликовано {{ post.dt_publish }} автором {{ post.author }}</p>

    {% if tags %}
        {% for tag in tags %}
            <p>{{ tag }}</p>
        {% endfor %}
    {% endif %}
    <div class="same-posts">
        {% for post in same_posts %}
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        {% endfor %}
    </div>
    <br><br>

    <p>{{ post.content }}</p>
    <p>Хочешь <a href="{% url 'blog:post_share' post.id %}">>> поделиться <<</a> постом?</p>
{#    <div class="write">#}
{#            {% include 'blog/includes/comment_form.html' %}#}
{#    </div>#}
    <div class="all-comments">
        {% for comment in comments %}
            <div class="comment">
                <p class="info"> Комментарий от {{ comment.name }}. Создан {{ comment.dt_created }}</p>
                {{ comment.content|linebreaks }}
            </div>
        {% empty %}
            <h2>Комментариев нет.</h2>
        {% endfor %}
    </div>
    <div class="write-comment">
            {% include 'blog/includes/comment_form.html' %}
    </div>
{% endblock %}
